{{#extend 'layoutagain.html'}}
	<head>
		<title>Line Charts</title>
        <link rel="stylesheet" href="/EngageME/static/css/engageme.css">
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="/EngageME/static/js/d3.js"></script>
		<script src="/EngageME/static/js/engageme.utils.js"></script>
		<script type="text/javascript">

			var draw = function() {
			    var data = [ {'date': '2013-1-28 14:51:10', 'eda': 0.07163636499282086}, { 'date': '2013-1-28 14:51:11', 'eda': 0.06449999962933362}, { 'date': '2013-1-28 14:51:12', 'eda': 0.05703124939464033}, { 'date': '2013-1-28 14:51:13', 'eda': 0.05181818195816242}, { 'date': '2013-1-28 14:51:14', 'eda': 0.04862499935552478}, { 'date': '2013-1-28 14:51:15', 'eda': 0.03840625076554716}, { 'date': '2013-1-28 14:51:16', 'eda': 0.03209375106962398}, { 'date': '2013-1-28 14:51:17', 'eda': 0.026000000536441803},{ 'date': '2013-1-28 14:51:18', 'eda': 0.018437499995343387},{ 'date': '2013-1-28 14:51:19', 'eda': 0.012375000165775418} ];
			    drawChart(data);
			}
		</script>
	</head>
	<body onload="draw();">
		<div id="chart">
		</div>
	</body>
