{{extend 'layoutagain.html'}}
{{
import time
import datetime
from datetime import date
# import necessary data types
from dbmodel.participant import Participant
from dbmodel.TheClass    import TheClass

#Show the grades at the bottom of the page
myPedometer        = DBGetters()
thatTeacher        = myPedometer.getParticipant(session.teacherid)
thatClass          = myPedometer.getTheClass(session.selectedSubject)
whatDate           = session.classDate.split('-')
thatDate           = datetime.datetime( int(whatDate[0]), int(whatDate[1]), int(whatDate[2]) )
classVideos        = myPedometer.getClassVideos(session.selectedSubject, session.classDate)
classStudents      = myPedometer.getStudentsByClassAndDate(session.selectedSubject, session.classDate)
classEngagement    = myPedometer.getClassEngagementLevels(thatClass.getID(),session.classDate)
numClassEng        = len(classEngagement)
numStudents        = len(classStudents)
numVideos          = len(classVideos)
studentList        = []
nameList           = []
videoLocationList  = []
for student in classStudents:
    studentList.append(myPedometer.getParticipant(student[0]))
    nameList.append( myPedometer.getParticipant(student[0]).getPartialName() )
pass
if numVideos > 0:
    for classVideo in classVideos:
        unknownValue = classVideo
    pass
pass
}}

<script>
	/***********************************************************************
	 * MyEngagement - beginning of object
	 ***********************************************************************/
	function MyEngagement_toString()
	{
		var result = "[";
		result += "PID: " + this.participantid;

		result += ", Begin: " + this.begindatetime;//.toLocaleString();
		result += ", Duration: " + this.timestep;
		result += ", Num levels: " + this.levels.length;
		result += ", {";
		if ( this.levels.length > 0 )
		{
			for ( var i = 0 ; i < this.levels.length ; i++ )
			{
				if ( i > 0 ) { result += ", "; }
				result += this.levels[i];
			}
		}
		result += "}";
		result += "]";
		return result;
	}

	function MyEngagement_addLevel(level)
	{
		this.levels.push(level);
	}

	function MyEngagement_getLevel(ndx)
	{
		return this.levels[ndx];
	}

	function MyEngagement( participantid, begindatetime, duration )
	{
		var that           = this;
		that.participantid = participantid;
		that.begindatetime = begindatetime;
		that.timestep      = duration;
		that.levels        = [];
		that.toString      = MyEngagement_toString;
		that.addLevel      = MyEngagement_addLevel;
		that.getLevel      = MyEngagement_getLevel;
	}
	/***********************************************************************
	 * MyEngagement - end of object
	 ***********************************************************************/
	 
	// Create names array
    var names = new Array();
	{{ndx = 0}}{{for name in nameList:}}
		names.push("{{=name}}");{{ndx = ndx + 1}}
	{{pass}}
	
	// Create student id list
	var studentIDList = new Array();
	{{ndx = 0}}{{for stuid in studentList:}}
		studentIDList.push("{{=stuid.getID()}}");{{ndx = ndx + 1}}
	{{pass}}

	// put student names in the correct divs
    function setStudentNames() {
        for ( var i = 0 ; i < {{=numStudents}} ; i++ )
        {
            var studentNumber = i + 1;
            if (i<9) { studentNumber = '0' + (i+1); }
            var divName = 'student' + studentNumber;
            document.getElementById( divName ).innerHTML = names[i];
        }
    }

	//var classEngagement = new Array();
	var myNgmnt = [];
	{{ndx=0}}
	{{for pNgmnt in classNgmnt:}}
		myNgmnt[{{=ndx}}] = new MyEngagement( "{{=pNgmnt.getParticipant()}}", "{{=pNgmnt.getBeginDateTime()}}", "{{=pNgmnt.getTimestep()}}" );
		{{for level in pNgmnt.getLevels():}}
			myNgmnt[{{=ndx}}].addLevel("{{=level}}");
		{{pass}}
		{{ndx = ndx + 1}}
	{{pass}}
    
    function loadClassEngagementAt( ndx )
    {
    	var output = "";
    	var studentNumber = "";
    	//alert("I should be loading engagement at index " + ndx );
        //alert("Level is " + myNgmnt.length + " for index " + names.length );
    	/**/
    	$.each( myNgmnt, function(i) {
            if (i<9) { studentNumber = '0' + (i+1); }
            var divName = 'student' + studentNumber;
            //alert("Level is " + myNgmnt[i].getLevel(ndx) + " for index " + ndx );
            changeStudentColor( myNgmnt[i].getLevel(ndx), divName );
    	});
    	/**/
    }
</script>
<head>
    <link rel="stylesheet" href="/EngageME/static/css/engageme.css">
    <!-- Change URLs to wherever Video.js files will be hosted -->
    <link href="/EngageME/static/css/video_js.css" rel="stylesheet" type="text/css">
    <!-- video.js must be in the <head> for older IEs to work. -->
    <script src="/EngageME/static/js/video.js"></script>
    <!-- <link rel="stylesheet" href="/EngageME/static/css/jquery-ui.css"> -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/EngageME/static/js/jquery_ui.js"></script>
    <script src="/EngageME/static/js/engageme.objects.js"></script>
    <script src="/EngageME/static/js/engageme.time.js"></script>
	<script src="/EngageME/static/js/d3.js"></script>
    <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
    <script>
        videojs.options.flash.swf = "/EngageME/static/multimedia/video_js.swf";
        ajax('populateStudentArray',[''],'classStudentsDiv');
        $(function() {
            $("#slider").slider();
        });
        function changeVideoSrc(value) {
            var myPlayer = videojs('class_video');
            myPlayer.pause();
            myPlayer.src(value);
        }
    </script>
    <!-- Most of the styles here override default jquery-ui styles. -->
    <style>
        /* Overrides the background image issue */
        .ui-widget-overlay {
            background: #000;
        }
        /* 
            ui-dialog over writes the default jquery-ui style
        */
        .ui-dialog {
            background: rgba(50, 100, 255, 0.85);
        }
        .ui-dialog-buttonpane {
            background: none;
        }
        .ui-dialog-label {
            background: rgba(200,200,200, 0.9);
        }

    </style>
</head>
<!-- This div and button allow for the hiding of the navigation bar -->
<div id="toggleNavbar">
    <button class="btn btn-primary" style="width: 100%; height: 10px;"></button>
</div>
<!-- This is a stylized navigation bar that is being utilized for showing class information. -->
<div id="myNavbar" class="navbar">
    <div class="navbar-inner">
        <a class="brand navbar-text navbar-text-ssd pull-left label" href="#">View Class</a>
        <ul class="nav pull-left">
            <li class="active pull-left navbar-text navbar-text-ssd">
                <label>Instructor</label> {{=thatTeacher.getFullName()}}<br/>
                <label>Class Date</label> {{=thatDate.strftime('%a %d %b %Y')}}
            </li>
            <li class="pull-left navbar-text navbar-text-ssd">
                <label>Subject</label> {{=thatClass.getSubject()}}<br/>
                <label>Grade</label> {{=thatClass.getGradeLevel()}}
            </li>
            <li class="pull-right navbar-text navbar-text-ssd">
                <label>Today</label>
                <span id="thatTime"></span><br/>
                {{#=datetime.datetime.now().strftime('%a %b %d %I:%M:%S %p %Y')}}
                <div id="individual_student_lbl">
                	<label>Student</label>
                	<span id="student_name"></span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--
    The toggle function is placed after the navbar because
    we have to be sure the navbar div has been created before
    this joka can be called.
    There is a way around this, probably something to do with
    a ready function, but I'm not looking it up now.
 -->
<script>
	// This function hides/shows the Information Bar
    $( "#toggleNavbar" ).click(function() {
      $( "#myNavbar" ).toggle();
    });
    // This function makes all of the student buttons draggable.
    $(function() {
    	$(".student-in-class").draggable({ containment: "#all_students", scroll: false });
    });
</script>

<div class="group panel panel-primary container-fluid">
    <div id="data_with_vid" class="row group-height" width="100%">
    	<div id="student_info" class="span5 group-height">
        	<div id="all_students" class="group-height">
            	<div id="student_btns" class="div-table">
                	<br/>
					<div class="div-table-row">
						<div class="div-table-col">
							<div id="student01" class="student-in-class">Shelby SD</div>
						</div>
						<div class="div-table-col">
							<div id="student02" class="student-in-class">Alfonza DJ</div>
						</div>
						<div class="div-table-col">
							<div id="student03" class="student-in-class">Carl D</div>
						</div>
						<div class="div-table-col">
							<div id="student04" class="student-in-class">Matthew D</div>
						</div>
						<div class="div-table-col">
							<div id="student05" class="student-in-class">Natalie ND</div>
						</div>
					</div>
					<br/>
					<div class="div-table-row">
						<div class="div-table-col">
							<div id="student06" class="student-in-class">Narissa AD</div>
						</div>
						<div class="div-table-col">
							<div id="student07" class="student-in-class">Carlen HD</div>
						</div>
						<div class="div-table-col">
							<div id="student08" class="student-in-class">Velvet OH</div>
						</div>
						<div class="div-table-col">
							<div id="student09" class="student-in-class">Doug H</div>
						</div>
						<div class="div-table-col">
							<div id="student10" class="student-in-class">Charles H</div>
						</div>
					</div>
					<br/>
					<div class="div-table-row">
						<div class="div-table-col">
							<div id="student11" class="student-in-class">Robyn AD</div>
						</div>
						<div class="div-table-col">
							<div id="student12" class="student-in-class">Ros HD</div>
						</div>
						<div class="div-table-col">
							<div id="student13" class="student-in-class">Natalie ND</div>
						</div>
						<div class="div-table-col">
							<div id="student14" class="student-in-class">Narissa AD</div>
						</div>
						<div class="div-table-col">
							<div id="student15" class="student-in-class">Carlen HD</div>
						</div>
					</div>
					<br/>
					<div class="div-table-row">
						<div class="div-table-col">
							<div id="student16" class="student-in-class">Velvet OH</div>
						</div>
						<div class="div-table-col">
							<div id="student17" class="student-in-class">Natalie ND</div>
						</div>
						<div class="div-table-col">
							<div id="student18" class="student-in-class">Narissa AD</div>
						</div>
						<div class="div-table-col">
							<div id="student19" class="student-in-class">Carlen HD</div>
						</div>
						<div class="div-table-col">
							<div id="student20" class="student-in-class">Velvet OH</div>
						</div>
					</div>
					<br/>
					<div class="div-table-row">
						<div class="div-table-col">
							<div id="student21" class="student-in-class">Carlen HD</div>
						</div>
						<div class="div-table-col">
							<div id="student22" class="student-in-class">Velvet OH</div>
						</div>
						<div class="div-table-col">
							<div id="student23" class="student-in-class">Carlen HD</div>
						</div>
						<div class="div-table-col">
							<div id="student24" class="student-in-class">Velvet OH</div>
						</div>
						<div class="div-table-col">
							<div id="student25" class="student-in-class">Carlen HD</div>
						</div>
                	</div>
                	<br/>
                	<div class="div-table-row">
						<div class="div-table-col">
							<div id="student26" class="student-in-class">Velvet OH</div>
						</div>
						<div class="div-table-col">
							<div id="student27" class="student-in-class">Carlen HD</div>
						</div>
						<div class="div-table-col">
							<div id="student28" class="student-in-class">Velvet OH</div>
						</div>
						<div class="div-table-col">
							<div id="student29" class="student-in-class">Carlen HD</div>
						</div>
						<div class="div-table-col">
							<div id="student30" class="student-in-class">Velvet OH</div>
						</div>
                	</div>
	            </div>
        	</div>
  	  		<div id="single_student" class="individual-height individual"></div>
    	</div>      
        <div id="center_btns" class="span1 center group-height">
            <br/>
            <button id="show_class" onclick="showClassView()">Class</button>
            <br/><br/>
            <button id="viewA" onclick="changeVideoSrc('/EngageME/static/multimedia/viewc_20120211075111.webm')">Back View</button>
            <br/><br/>
            <button id="viewB" onclick="changeVideoSrc('/EngageME/static/multimedia/viewb_20120221075851.webm')">Front View</button>
            <br/><br/>
            <button id="viewC" onclick="changeVideoSrc('/EngageME/static/multimedia/viewa_20120221075222.webm')">Side View</button>
        </div>
        <div id="vid_info" class="span6 group-height">
        	<!-- Having autoplay set produced a problem with playback in chrome. -->
            <video id="class_video" class="video-js vjs-default-skin"
                   controls preload="none" height="500" width="100%"
                   data-setup='{}'>
                   <source src="/EngageME/static/multimedia/viewa_20120221075222.webm" type='video/webm'/>
            </video>
        </div>
    </div>
	
	<div id="eda_graph" class="row">
		<div id="chart" class="span12"></div>
	</div>
	
	<div class="row">
		<div id="slider" class="span12"></div>
	</div>
    
</div>

<script src="/EngageME/static/js/engageme.utils.js"></script>
<script src="/EngageME/static/js/hc/highcharts.js"></script>
<script src="/EngageME/static/js/hc/modules/exporting.js"></script>

<!-- 
 - Using javascript this DIV is not displayed until a function is called.
 - This DIV is a dialog box for taking notes on student interest levels.
 - You have to dynamically create the following lists:
 - [+] valenceList
 - [+] hiArousalPos
 - [+] loArousalPos
 - [+] hiArousalNeg
 - [+] loArousalNeg
 -->
<div id="container" style="min-width: 350px; height: 420px; margin: 0 auto">
	<div id="dialog-form" title="Student Note">
		<form>
			<fieldset>
				<div id="time-div">
				</div>
				<div id="valence-div" class="form-group">
					<label class="col-lg-2 control-label" for="valence">Valence</label>
					<select name="valence" id="valence" class="form-control"   
							onchange="displayAndPopulateEmotion(this.value)">
							<!-- onchange="$('#emotion-div').show()"> -->
						<option value="no-selectio"></option>
						<option value="positive-hi">Positive high</option>
						<option value="positive-lo">Positive low </option>
						<option value="negative-hi">Negative high</option>
						<option value="negative-lo">Negative low </option>
					</select>
				</div>
				<div id="emotion-div" class="form-group">
					<label class="col-lg-2 control-label" for="emotion">Emotion</label>
					<select name="emotion" id="emotion" class="form-control"  onchange="$('#note-div').show()">
						<option value="no-selectio"></option>
						<option value="happy">Embulent</option>
						<option value="sad">Sad</option>
						<option value="mad">Angry</option>
						<option value="sleepy">Tired</option>
					</select>
				</div>
				<div id="note-div" class="form-group">
					<label class="col-lg-2 control-label" for="thenote">Note</label>
					<textarea rows='5' cols='30' name='note' id='note'></textarea>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div id="selected-values"></div>

<!-- This script block contains the following functions:
    [+] $(".student-in-class").dbclick - this opens the individual stats when selecting a student
    [+] showClassView() - hides components on the individual view
    [+] hideUnusedComponents - hides students divs that will not be used
    [+] setStudentNames      - places names in student DIVs
-->
<script>
	//==================================================================================//
    // This function is specific to the elements on this page, do not remove it.
	// This is an event listener for the double click event on circular divs that 
	// represent a student in a class.
	$(".student-in-class").dblclick(
		function(evt) {
			// we pull information from the event target and get the student number.
			var studentNumber = parseInt(evt.currentTarget.id.replace("student",""));
			// from here we get the student ID
			var studentID = studentIDList[studentNumber-1];
			// Now that we have the ID we should perform the 3 following tasks:
			//   + hide the student buttons
			//   + pull EDA from the database for a single student
			//   + pull Engagement from the database for a single student
			hideComponent( 'all_students' );
			showComponent( 'show_class' );
	        showComponent( 'single_student' );
        	showComponent( 'eda_graph' );
        	showComponent( 'individual_student_lbl' );
        	document.getElementById('student_name').innerHTML = '<select name="studentID"><option value="' + studentID + '" selected="selected">' + studentID + '</option></select>';        	
        	hideComponent('studentID');
        	ajax('setFullStudentName',['studentID'],'student_name');
        	$('#eda_graph').css({"width":"100%"});
        	$('#eda_graph').css({"height":"320px"});
        	$('#chart').css({"width":"0"});
        	$('#chart').css({"height":"0"});
	        $('#class_video').css({"height":"280px"});
	        $('#center_btns').removeClass('group-height').addClass('individual-height');
	        $('#all_students').removeClass('group-height').addClass('individual-height');
	        $('#student_info').removeClass('group-height').addClass('individual-height');
	        $('#vid_info').removeClass('group-height').addClass('individual-height');
	        $('#data_with_vid').removeClass('group-height').addClass('individual-height');
	        // I'm using the element student_name in order to call
	        // web2py's ajax function without error.
	        createStudentPieChart( '#single_student', studentNumber-1 );
	        // Np values from it are being used in the function being called
	        ajax('setupIndividualInformation',['student_name'],'chart');
		}
	);
	/*
	 * This function creates the data for a single student pie chart
	 * and calls the function that creates the pie chart in the
	 * specified container.
	 * Parameters:
	 * [+] containerName - div in markup to house the pie chart
	 * [+] studentNdx    - index value of selected student
	 */
	function createStudentPieChart( containerName, studentNdx )
	{
		var studentNgmnt = myNgmnt[studentNdx];
		var levels       = studentNgmnt.levels;
		var numSlices    = levels.length;
		var low = 0, med = 0, high = 0;
		$.each( levels, function(i) {
			if      ( levels[i]=='low' )    low  += 1;
			else if ( levels[i]=='medium' ) med  += 1;
			else                            high += 1;
		});
		var chartData = [
			{
				name: 'High',
				y: (high/numSlices),
				color: 'green'
			},
			{
				name: 'Medium',
				y: (med/numSlices),
				color: 'yellow'
			},
			{
				name: 'Low',
				y: (low/numSlices),
				color: 'red'
			}
		];
		createSingleStudentPieChart( containerName, chartData );
	}
    // This function is specific to the elements on this page, do not remove it.
	// Hide components on display for the individual view.
	function showClassView()
	{
		//viewingSingleStudent = 0;
        hideComponent( 'eda_graph' );
		hideComponent( 'show_class' );
        hideComponent( 'single_student' );
        hideComponent( 'individual_student_lbl' );
		showComponent( 'all_students' );
	    $('#data_with_vid').removeClass('individual-height').addClass('group-height');
	    $('#vid_info').removeClass('individual-height').addClass('group-height');
	    $('#class_video').css({"height":"500px"});
	    detailChart = 0;
	}
    // This function is specific to the elements on this page, do not remove it.
    // This function hides the student DIVs that will not be used.
    function hideUnusedComponents() {
        var result = "";
        for ( var i = {{=numStudents}} ; i < 30 ; i++ )
        {
            var studentNumber = i + 1;
            if (i<9) { studentNumber = '0' + (i+1); }
            var divID = 'student' + studentNumber;
            hideComponent( divID );
        }
        hideComponent( 'eda_graph' );
        hideComponent( 'show_class' );
        hideComponent( 'single_student' );
        hideComponent( 'individual_student_lbl' );
    }
	//==================================================================================// 
    // Run the functions to hide components not necessary for this page
    // and to set the names for students.
    hideUnusedComponents();
    setStudentNames();
</script>

<!-- This script block has functions that respond to video events. -->
<script>
    /****************************************************
     * This sets the values of the slider to match those
     * of the loaded video.
     ****************************************************/
    $('#class_video').bind("loadedmetadata", function (){
        var myPlayer = videojs('class_video');
        //alert( "New duration " + myPlayer.duration() );
        $("#slider").slider("option", "min", 0);
        $("#slider").slider("option", "max", myPlayer.duration());
    });

    /****************************************************
     * When the user start using the slider it pauses
     * the playing video.
     ****************************************************/
    $('#slider').on("slidestart", function ( event, ui ) {
        var myPlayer = videojs('class_video');
        myPlayer.pause();
    });

    /****************************************************
     * This sets the values of the slider to match those
     * of the loaded video.
     ****************************************************/
    $('#slider').on("slidestop", function ( event, ui ) {
        var myPlayer       = videojs('class_video');
        myPlayer.currentTime( ui.value );
        myPlayer.play();
    } );

    /****************************************************
     * This makes the horizontal slider move with the video as it plays.
     * It also makes the plot line on the line chart move with the video.
     ****************************************************/
     var previousSecond = 0;
    $('#class_video').bind("timeupdate", function (event, ui){
		// the value of TIME_ADJUST is in seconds
		//protected const TIME_ADJUST:Number = 60;
        var myPlayer = videojs('class_video');
        changeEngagementValues(myPlayer);
        $("#slider").slider("option", "value", myPlayer.currentTime());
        // The value in this if-statement is modified by the function
        // that creates the line chart.
        // While video is playing the timeupdate event is thrown every
        // couple of milliseconds, the content of the conditional is
        // error causing if the line graph does not exist.
        // When the context of the page goes from class to individual
        // the value in the if-statement is set to 0 (zero).
        if ( viewingSingleStudent == 1 )
        {
        	var dataSeries    = detailChart.series[0];
        	var theData       = dataSeries.data;
        	var xAxis         = detailChart.xAxis[0];
			var currentSecond = Math.floor( myPlayer.currentTime() );
			
			if ( currentSecond != lastSecond )
			{
				if ( lastSecond > 0 )
				{  
					xAxis.removePlotLine('moving-line');
				}
				xAxis.addPlotLine({
					value: theData[currentSecond].x,
					color: 'red',
					width: 1,
					id: 'moving-line'
				});
				lastSecond = currentSecond;
			}	
        }
    });
</script>
