{{extend 'layout.html'}}

<div class="jumbotron">
    <h2>Login</h2>
    <form id="loginFrm" action="index" class="bs-example form-horizontal" method="post">
        <fieldset>
        <div class="form-group">
            <label for="user_name" class="col-lg-2 control-label">User ID</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="user_name" id="user_name" placeholder="User Name">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                <!--
                <div class="checkbox">
                    <label>
                    <input type="checkbox"> Remember Password
                    </label>
                </div>
                -->
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <center>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </center>
            </div>
        </div>
        </fieldset>
    </form>
</div>

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
{{end}}
