{{extend 'layout.html'}}
{{
from dbmodel.participant import Participant

#Show the grades at the bottom of the page
myPedometer = DBGetters()

teacherInfo = myPedometer.getParticipant(session.teacherid)

if teacherInfo:
    gradeList   = myPedometer.getGrades(teacherInfo.getID())
pass

}}
<!-- You have to add a function mirroring the name of your view in the default controller.
     I have to test creating a separate controller.
 -->
<div class="jumbotron">
    <h2>Welcome {{=teacherInfo.getFullName() or "anonymous"}}</h2>
    <form action="group" name="loadFrm" class="bs-example form-horizontal" method="POST">
        <fieldset>
        <div class="form-group">
            <label for="selectGrade" class="col-lg-2 control-label">Grade</label>
            <div class="col-lg-10">
                <select class="form-control" name="gradeSelect" id="gradeSelect" onchange="ajax('showSubjects',['gradeSelect'],'subjectDiv')">
                    <option value="">Select a grade...</option>
                    {{for grade in gradeList:}}
                    <option value="{{=grade[0]}}">
                    {{=grade[0]}}
                    </option>
                    {{pass}}
                </select>
            </div>
        </div>
        <!-- subjectDiv, loadDateDiv, and emptyDiv are populated using the web2py ajax function -->
        <div id="subjectDiv" class="form-group"></div>
        <div id="loadDateDiv" class="form-group"></div>
        <div id="emptyDiv" class="form-group"></div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <center>
                    <button type="" class="btn btn-primary" onclick="">Data Entry</button>
                    <button type="submit" class="btn btn-primary">Load Class</button>
                </center>
            </div>
        </div>
        </fieldset>
    </form>
</div>

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}

{{end}}
