{{extend 'layout.html'}}
{{=BEAUTIFY(response._vars)}}

<!-- You have to have a function in the controller for every view. -->
<head>
    <!-- Chang URLs to wherever Video.js files will be hosted -->
    <link href="/EngageME/static/css/video_js.css" rel="stylesheet" type="text/css">
    <!-- video.js must be in the <head> for older IEs to work. -->
    <script src="/EngageME/static/js/video.js"></script>

    <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
    <script>
        videojs.options.flash.swf = "/EngageME/static/multimedia/video-js.swf";
    </script>
    <style>
        .center
        {
            margin:auto;
            width:  720px;
            height: 480px;
            background-color:#cccccc;
        }
    </style>
</head>


<html>
    <div class="center">
        <!--
        <video id="example_video_1" class="video-js vjs-default-skin center"
               controls preload="none" width="640" height="480"
               data-setup="{}">
            <source src="http://www.shelbydarnell.com/site2012/videos/amvs/gw-wufei.mp4" type='video/mp4'/>
        </video>
        -->
        <!-- -->
        <video id="example_video_1" class="video-js vjs-default-skin"
               controls preload="none" width="100%" height="100%"
               poster="http://video-js.zencoder.com/oceans-clip.png"
               data-setup="{}">
            <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
            <!--
            <source src="http://www.shelbydarnell.com/site2012/videos/amvs/gw-wufei.mp4" type='video/mp4'/>
            <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
            <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
            <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
            -->
            <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -- >
            <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -- >
        </video>
        <!-- -->
    </div>
</html>
