
#chart path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}
.axis { shape-rendering: crispEdges; }
.x.axis line { stroke: lightgrey; }
.x.axis .minor { stroke-opacity: .5; }
.x.axis path { display: none; }
.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}
.infobox {
	border:2px solid steelblue;
	border-radius:4px;
	box-shadow:#333333 0px 0px 10px;
	margin:200px auto;
	padding:5px 10px;
	background:rgba(255, 255, 255, 0.8);
	position:absolute;
	top:0px;
	left:0px;
	z-index:10500;
	font-weight:bold;
}

<!-- This element was created for the video. -->
.center-video
{
    margin:auto;
    width:  720px;
    height: 480px;
    background-color:#cccccc;
}
<!-- This element is for the NAVBAR -->
.navbar-text-ssd
{
    color: #ffffff;
    font-size: 18px;
}
.circleBase {
    border-radius: 50%;
}
.max-height{
    height: 600px;
}
.group {
    height: 600px;
    width: 100%;
}
.group-height {
    height: 600px;
}
.individual {
    background: black;
}
.individual-height {
    height: 280px;
}
.div-table{         display:table;        }
.div-table-caption{ display:table-caption;}
.div-table-row{     display:table-row;    }
.div-table-col{     display:table-cell;   }
.type1 {
    width:          100px;
    height:         100px;
    background:     yellow;
    border:         3px solid black;
    text-align:     center;
    vertical-align: middle;
    /*line-height: 30px;*/
}
.type2 {
    width:          75px;
    height:         75px;
    background:     yellow;
    border:         3px solid black;
    text-align:     center;
    vertical-align: middle;
    line-height:    75px;
    border-radius: 50%;
}
.student-in-class {
    width:          85px;
    height:         85px;
    background:     yellow;
    border:         3px solid black;
    text-align:     center;
    vertical-align: middle;
    line-height:    85px;
    border-radius: 50%;
}